/* tabelas */
table,tr,th,td{
    border: 2px solid black;
    border-collapse: collapse;

}
th{
    padding: 10px;
}
/* padding espaco entre tabelas */
tr:nth-child(even){
    background-color: rgba(66, 92, 137, 0.737);
}