h1{
    color: aqua;
    font-size: 30px;
}
p{
    color: blue;
    font-size: 20px;
    font-family: Georgia, 'Times New Roman', Times, serif;
}
body{
    background-color: red;
    background-image: url(../img/Sem\ título\ 2.jpg);
}